
.container {
    width: 1105px;
    padding: 0 15px;
    margin: 0 auto;
}

.container__wrapper .block {
    background-color: #FF7143;
    color: aqua;
    border: 5px solid #FFFFFF;
}

.container__wrapper {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 500px;
    /*grid-auto-rows: auto 500px;*/
    grid-gap: 25px;
}

.block.header {
    background-color: black;
}