
.Table {
    width: 400px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 10px #5454D4;
  }

  .item {
    background-color: #FF7143;
    color: aqua;
    border: 2px solid #FFFFFF;
  }

.item:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
}

.item:nth-child(3) {
    grid-column: 3/5;
    grid-row: 1;
}

.item:nth-child(5) {
    grid-column: 3;
    grid-row: 2/4;
}

.item:nth-child(8) {
    grid-column: 2;
    grid-row: 3/5;
}

.item:nth-child(11) {
    grid-column: 3/5;
    grid-row: 4;
}