body {
    font-family: "DM Sans";
}

.container {
 width: 1070px;
 margin: 0 auto;
}

h1 {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
}

h2 {
    font-family: "DM Sans";
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.88px;
}

h3 {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56px;
    color: #19191B;
}

h5 {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.75px;
    color: #19191B;
}

h6 {
    font-family: "DM Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    line-height: 119%;
    letter-spacing: -0.56px;
    color: #696871;
}

p {
    font-family: "Mulish";
    color: #696871;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.63px;   
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.header__menu {
 font-size: 15px;
 font-weight: 700;
 color: #696871;
 display: flex;
 justify-content: space-between;
 gap: 49px;
 padding-bottom: 10px;
 border-bottom: 2px solid white;
}

.header__menu a:hover { 
  border-bottom: 2px solid #5454D4;
} 

.menu__put { 
 color: #19191B;
}

.Button {
    width: 210px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans";
    font-style: bold;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 22px;
}

.orange {
    background-color: #FF7143;
    margin-top: 14px;
}

.header__burger {
    display: none;
    flex-direction: column;
    gap: 372px;
}

.main1 .container {
    display: flex;
    margin-top: 100px;
    gap: 74px;
}

.main1__info {
    width: 473px;
    margin-top: 88px;
}

.main1__title {
    margin-bottom: 13px;
}

.main1__p {
    margin-bottom: 36px;
    padding-top: 21px;
    padding-right: 20px;
}

.main1__way {
    display: flex;
    padding: 17px 151px 16px 11px;
    gap: 40px;
}

.blue {
    background-color: #5454D4;
}

.main1__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
}

.main1__hero {
   margin-bottom: 90px;
}

.Logos .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    margin-bottom: 160px;
}
    
.post .container {
    display: flex;
    gap: 160px;
}

.post__content {
    width: 459px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 122px;
}

.post__link {
    width: 89px;
    height: 22px;
    font-family: "DM Sans";
    font-style: solid;
    color: #5454D4;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.53px;
}

.post__Diagr {
    margin-bottom: 83px;
}

.post_reverse .container {
    display: flex;
    flex-direction: row-reverse;
    gap: 160px;
    padding-left: 0;
    justify-content: flex-end;
}

.post2__Diagr2 {
    margin-bottom: 137px;
}

.post__content_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 179px;
}

.features .container {
    display: flex;
    gap: 75px;
    justify-content: space-between;
    margin-bottom: 150px;
}

.features__info {
    width: 307px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__card {
    margin-bottom: 12px;
}

.features__text {
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;  
    text-align: center;
    margin-top: 20px;
    letter-spacing: -0.5px;
}

.features__text_audit2 {
  padding-right: 10px;
}

.prising .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.prising__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 244px;
    margin-bottom: 98px;
}

.prising__title h2 {
    width: 523px;
    height: 140px;
    box-sizing: border-box;
    flex-grow: 1;
    vertical-align: text-top;
}

.prising__period {
    width: 344px;
    height: 65px;
    background-color: #F7F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.prising__btn {
    width: 160px;
    height: 55px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans";
    font-style: bold;
    letter-spacing: -0.5px;
    background-color: #5454D4;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}
.prising__btno {
    width: 175px;
    height: 55px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans";
    font-style: bold;
    letter-spacing: -0.5px;
    color: #19191B;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.prising__tariff {
   display: flex;
   gap: 15px;
}

.prising__packet {
    width: 330px;
    height: 441px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 10px;
    padding-top: 34px;
    padding-bottom: 27px;
}

.prising__packet h2 {
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -1.03px;
}

.prising__cost {
  line-height: 56px;
  letter-spacing: -1.03px;
  color: #1D293F;
  margin-top: 22px;
  margin-bottom: 28px;
}

.prising ul {
    width: 118px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Mulish;
    font-style: normal;
    color: #696871;
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.53px;
    margin-bottom: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.white {
    color: #5454D4;
    background-color: white;
}

.prising__packet_prem {
    width: 376px;
    height: 473px;
    color: #FFFFFF;
    background-color: #FF7143;
    margin-top: -16px;
}

.prising__packet_prem h6 {
    color: #FFFFFF;
}

.prising__month {
  font-size: 28px;
}

.prising__packet_prem h2 {
    letter-spacing: -2px;
    color: #FFFFFF;
}

.prising__packet_prem ul {
    width: 131px;
    height: 150px;
    color: #FFFFFF;
}

.braun {
    width: 305px;
    height: 60px;
    background-color: #9F3919;
}

.prising__packet_enter ul {
    width: 136px;
    height: 150px;
}

@media screen and (max-width: 1199x){
  .container {
    width: 960px;
  }
}
    
@media screen and (max-width: 991px){
    .container {
      width: 720px;
    }
    .prising__title h2 {
        padding-left: 10px;
        color: #FF7143;
    }
}

@media screen and (max-width: 767px){
    .container {
      width: 540px;
    }
    .header {
        overflow: hidden;
    }

    .header__menu:not(header__menu_mob) {
        display: none;
    }
    .orange:not(orange_mob) {
        display: none;
    }
    .header__burger {
        width: 375px;
        display: flex;
    }
   .header__close {
     margin-left: 328px;
   }
   .header__menu_mob{
    width: 99px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 12px;
   }

   .main1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    margin-top: 68px;
   }

    .main1__info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 158px;
   }














}